In [1]:
students = ["Aditi", "Rahul", "Sameer", "Priya", "Kavya"]

##### 1️⃣ Create a list

Create a list of student names (at least 5 names).

In [2]:
a = tuple(students)
print(a)

('Aditi', 'Rahul', 'Sameer', 'Priya', 'Kavya')

2️⃣ Convert the list into a tuple
- Convert that list of names into a tuple and print it.

In [3]:
courses = {"Math", "Python", "AI", "ML", "DS"}
print("Original set:", courses)

Original set: {'Math', 'ML', 'AI', 'DS', 'Python'}

 Create a set

Create a set of unique courses (e.g., "Math", "Python", "AI", "ML", "DS").

In [4]:
courses.add("Java")
print("Updated set:", courses)

Updated set: {'Math', 'ML', 'Java', 'AI', 'DS', 'Python'}

Add one more course to the set.

In [7]:
courses.add('Python')
print("After adding duplicate 'Python':", courses)

After adding duplicate 'Python': {'Math', 'ML', 'Java', 'AI', 'DS', 'Python'}



Try adding a duplicate course and see what happens.

In [9]:
student = {
    "Aditi": 88,
    "Rahul": 90,

}

print("Original Dictionary:", student)

Original Dictionary: {'Aditi': 88, 'Rahul': 90}

Create a dictionary where:

In [10]:
student["Rohan"] = 80
print("After Add Rohan:", student)

After Add Rohan: {'Aditi': 88, 'Rahul': 90, 'Rohan': 80}

Add one more student

In [11]:
student["Rahul"] = 99
print("After Updating rahul Marks:", student)

After Updating rahul Marks: {'Aditi': 88, 'Rahul': 99, 'Rohan': 80}

Update marks of one student

In [12]:
del student["Aditi"]
print("After Deleting Aditi:", student)

After Deleting Aditi: {'Rahul': 99, 'Rohan': 80}

Delete one student

In [13]:
# 1️⃣ List of students
students = ["Aditi", "Rahul", "Sameer", "Priya", "Kavya"]
print("List of Students:", students)

# 2️⃣ Convert list to tuple
students_tuple = tuple(students)
print("Tuple of Students:", students_tuple)

# 3️⃣ Set of unique courses
courses = {"Math", "Python", "AI", "ML", "DS"}
courses.add("NLP")          # add new course
courses.add("Python")       # duplicate (ignored by set)
print("Set of Courses:", courses)

# 4️⃣ Dictionary of student marks
student_marks = {
    "Rahul": 90,
    "Arjun": 85,
    "Sneha": 78,
    "Vikram": 88,
    "Neha": 92
}

# Add one student
student_marks["Rohan"] = 80

# Update marks
student_marks["Sneha"] = 82

# Delete one student
del student_marks["Arjun"]

print("Dictionary of Student Marks:", student_marks)

List of Students: ['Aditi', 'Rahul', 'Sameer', 'Priya', 'Kavya']
Tuple of Students: ('Aditi', 'Rahul', 'Sameer', 'Priya', 'Kavya')
Set of Courses: {'Math', 'ML', 'NLP', 'AI', 'DS', 'Python'}
Dictionary of Student Marks: {'Rahul': 90, 'Sneha': 82, 'Vikram': 88, 'Neha': 92, 'Rohan': 80}